asgiref==3.9.1
cfgv==3.4.0
distlib==0.4.0
Django==5.2.4
djangorestframework==3.16.0
filelock==3.18.0
gunicorn==23.0.0
identify==2.6.12
nodeenv==1.9.1
packaging==25.0
platformdirs==4.3.8
pre_commit==4.2.0
python-dotenv==1.1.1
PyYAML==6.0.2
sqlparse==0.5.3
virtualenv==20.33.0
whitenoise==6.9.0
